*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* Body */
body{
    font-family:Arial, Helvetica, sans-serif;
    background:#F4F7FC;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

/* Card */
.card{
    width:450px;
    background:white;
    padding:45px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
}

.card h1{
    color:#4F46E5;
    margin-bottom:10px;
}

.card h2{
    margin-bottom:15px;
}

.card p{
    color:#666;
    margin-bottom:35px;
}

/* Buttons */
.buttons{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.user-btn,
.admin-btn{
    text-decoration:none;
    color:white;
    padding:15px;
    border-radius:10px;
    transition:.3s;
    font-size:18px;
}

.user-btn{
    background:#4F46E5;
}

.user-btn:hover{
    background:#4338CA;
}

.admin-btn{
    background:#1E293B;
}

.admin-btn:hover{
    background:#0F172A;
}

.back{
    display:inline-block;
    margin-top:30px;
    text-decoration:none;
    color:#4F46E5;
    font-weight:bold;
}