*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */
body{
    font-family:Arial, Helvetica, sans-serif;
    background:#F8FAFC;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

/* Main Container */
.container{
    display:flex;
    width:900px;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
}

/* Left Side */
.left{
    width:40%;
    background:#4F46E5;
    color:white;
    padding:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.left h1{
    font-size:40px;
    margin-bottom:20px;
}

.left p{
    line-height:1.8;
}

/* Right Side */
.right{
    width:60%;
    padding:40px;
}

.right h2{
    text-align:center;
    margin-bottom:30px;
}

/* Form */
form{
    display:flex;
    flex-direction:column;
}

label{
    margin-bottom:8px;
    font-weight:bold;
}

input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    margin-bottom:20px;
    font-size:15px;
}

input:focus{
    outline:none;
    border-color:#4F46E5;
}

/* Remember + Forgot */
.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
    font-size:14px;
}

.remember{
    display:flex;
    align-items:center;
    gap:8px;
}

.options a{
    text-decoration:none;
    color:#4F46E5;
}

/* Button */
.signin-btn{
    text-decoration:none;
    background:#4F46E5;
    color:white;
    text-align:center;
    padding:14px;
    border-radius:8px;
    transition:.3s;
}

.signin-btn:hover{
    background:#4338CA;
}

/* Bottom */
.bottom-text{
    margin-top:30px;
    text-align:center;
}

.bottom-text a{
    text-decoration:none;
    color:#4F46E5;
    font-weight:bold;
}